---
pagination:
  data: testdata
  size: 2
testdata:
  - item1
  - item2
  - item3
  - item4
  - item5
  - item6
---

{% set css %}
  {% include "styles.css" %}
{% endset %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

    <title>{{ title }}</title>
    <style>{{ css | cssmin | safe }}</style>

  </head>
  <body>
    <header>
      <nav>
        <ul>
          {# {% for p in ps %}
            <li
              {% if page.url == p.url %}
                class="active"
              {% endif %} >
              {{ p.data.sort_weight }}
              <a href="{{ p.url }}">{{ p.data.title }}</a>
            </li>
          {%- endfor -%} #}
        </ul>
      </nav>
    </header>
    <main class="content">
      {{ content | safe }}
    </main>
  </body>
</html>